local/mongo/data/db/
local/mongo/data/log/
local/mongo/backup*
local/nginx/logs/
local/rabbitmq/log/
local/rabbitmq/data/

dev/rabbitmq/log/
dev/rabbitmq/data/
dev/mongo/data/db/
dev/mongo/data/log/
dev/mongo/backup/
dev/nginx/logs/

stage/rabbitmq/log/
stage/rabbitmq/data/
stage/mongo/data/db/
stage/mongo/data/log/
stage/mongo/backup/
stage/nginx/logs/
